## Visual Studio / .NET
.vs/
[Bb]in/
[Oo]bj/
**/bin/**
**/obj/**
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

## Proyectos locales que no forman parte de WorkFlowDesk
Client/
Server/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## Build results
*.dll
*.exe
*.pdb
*.cache

## IDE
.idea/
*.iml

## App runtime output
Exports/
Backups/
appconfig.json
_build_out/
**/*_wpftmp.csproj

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store